.bodyfirst{
  padding: 9% 11% 15% 11%;
  text-align: center;
}
.bodyfirstboard{
  text-align: center;
  padding: 1% 0% 3% 0%;
  background-color: rgba(160, 19, 207, 0.22);
}
body{
  background-color: rgba(120, 19, 143, 0.57);  
}
.logo1 {
  display: inline-block;
  background: url(./img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  vertical-align: middle;
}
.logo {
  display: inline-block;
  background: url(./img/logo.png);
  background-size: contain;
  height: 62px;
  width: 198px;
  vertical-align: middle;
}
input{
  border: 0px none;
  width: 50%;
  padding: 1em;
  font-size: 1.1em;
  margin: .5em 0;
  box-sizing: inherit;
}
button{
  transition: all 0.15s ease-out 0s;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 53%;
  padding: 1em;
  font-size: 1.1em;
 }
 @media screen and (max-width: 600px){
  .input{
    width: 250px;
  }
  .button{
    width: 100%;
  }
  .bodyfirst{
    padding: 2%;
    
  }
  }

 a{
 text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
 }